body {
  background: url("./images/thomas-bonometti-dtfyRuKG7UY-unsplash.jpg")
    no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

div.bio-container {
  height: 300px;
  width: 100%;
  background-color: lightblue;
  margin-top: 200px;
  margin-bottom: 35px;
  border: 1px solid lightgray;
  box-shadow: 3px 2px 5px gray;
  padding: 30px;
}

div.contact-container {
  height: 300px;
  width: 100%;
  background-color: lightblue;
  padding: 30px;
}
